@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans&display=swap');

/* font-family: 'Arimo', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
    --primary-color: #E50914;
    --transparent-black-bg: rgba(0,0,0,.75);
}

::placeholder {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #e5e5e5;
    font-size: 16px;
}

.top-navbar {
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    position: relative;
    display: flex;
    justify-content: space-between;
    background: grey;
    height: 68px;
    font-size: 1.2rem;
    padding: 0 4%;
    align-items: center;
}

.top-navbar-inner {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.app-logo {
    height: 50px;
    margin-right: 25px;
}

.top-nav-menu-btns {
    display: flex;
    margin: 0;
    padding: 0;

}

.top-nav-actions-menu {
    display: flex;
    margin-left: 18px;
    font-size: 14px;
    color: #fff;
}

.top-nav-btn {
    display: block;
    margin-left: 18px;
}

.top-nav-home-btn {
    color: #fff;
    font-weight: 700;
}

.top-nav-action-item {
    margin-right: 10px;
    display: block;
    align-items: center;
}

.sign-out-dropdown {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
}