@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans&display=swap');

/* font-family: 'Arimo', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
    --primary-color: #E50914;
    --transparent-black-bg: rgba(0,0,0,.75);
}

::placeholder {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #e5e5e5;
    font-size: 16px;
}