@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans&display=swap');

/* font-family: 'Arimo', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
    --primary-color: #E50914;
    --transparent-black-bg: rgba(0,0,0,.75);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f3f3f3;
    color: #333;
    font-size: 16px;
}

header {
    width: 100%;
    height: 90px;
}

.app-logo {
    height: 50px;
    margin: 1rem 0 0 1.3rem;

}

.login-page-bg {
    position: relative;
    background: url(/images/netflix-hero-bg.jpg) no-repeat center center/cover;
    min-width: 100%;
    min-height: 100%;
}

.login-form {
    margin: 0 auto;
    min-height: 660px;
    max-width: 450px;
    background: var(--transparent-black-bg);
}