@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans&display=swap');

/* font-family: 'Arimo', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
    --primary-color: #E50914;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f3f3f3;
}

main {
    position: relative;
    background: url(/images/netflix-hero-bg.jpg) no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
}